
.page-fade-enter {
    opacity: 0;
}

.page-fade-enter-active {
    opacity: 1;
    transition: all 500ms;
}

.page-fade-exit {
    opacity: 1;
}

.page-fade-exit-active {
    opacity: 0;
    transition: all 500ms;
}
